.fetch {
  background: #edeff0;
}

.fetch > div {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.fetch-left {
  width: 72%;
  background: #fff;
}
.fetch-card {
  height: 245px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  .fetch-card-left {
    width: 40%;
    height: 100%;
  }

  .fetch-card-right {
    width: 57%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .saved {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #4592ff;
    }
    button {
      background-color: transparent;
      color: gray;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #262d33;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #4b5157;
  }

  .comments {
    display: flex;
    align-items: center;
    gap: 20px;
    h5 {
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: #939699;
    }
    h6 {
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: #939699;
    }
  }
}

// fetch rihgt css

.fetch-right {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  height: 680px;
  justify-content: space-between;
}
.fetch-right-header {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #262d33;
  }
}

.fetch-right-card {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  .fetch-txt {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 5px;
    h6 {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #4b5157;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: #939699;
    }
  }
}

.fetch-right-footer {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #262d33;
  }
}


// start media


@media(max-width:1300px){

    .fetch-right{
      display: none;
    }

    .fetch-left{
      width: 100%;
    }


}
@media(max-width:980px){

  .fetch-card{
    display: flex;
    flex-direction: column;
  }




}