.footer > div {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.footer-top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #262d33;
  }
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      border: 1px solid #d9dadb;
      border-radius: 5px;
      width: 313px;
      padding: 10px;
      height: 40px;
    }
    button {
      border-radius: 20px;
      width: 119px;
      height: 40px;
      background: #4592ff;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      color: #fff;
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: #1c2126;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #4b5157;
      &:hover {
        color: rgb(98, 98, 255);
      }
    }
  }
}

.footer-icons {
  margin-top: 30px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;

  .icons-left {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #262d33;
    }
  }

  .icons-right {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
      background-color: rgb(98, 98, 255);
      &:hover {
        background-color: rgb(71, 71, 218);
      }
    }
  }
}

.copyright {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #939699;
  }

  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: right;
    color: #939699;
  }
}
