@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}
input{
    outline: none;
}
.container{
    margin: 0 auto;
    width: 90%;
    padding: 10px 0;
}
